<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HomeCenter.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HomeCenter.NET.Properties.Settings>
            <setting name="WitAiToken" serializeAs="String">
                <value />
            </setting>
            <setting name="YandexToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStopInterval" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="RecordKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandsData" serializeAs="String">
                <value />
            </setting>
            <setting name="IsStartMinimized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Recorder" serializeAs="String">
                <value />
            </setting>
            <setting name="Converter" serializeAs="String">
                <value />
            </setting>
            <setting name="Synthesizer" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAlternativeConverters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMouseHook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableKeyboardHook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnablePopUpMessages" serializeAs="String">
                <value>True</value>
            </setting>
        </HomeCenter.NET.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
</configuration>
